---
const {src} = Astro.props;
const {lightOrDark="both"} = Astro.props; // both, light, dark, invertLight, invertDark
let visibilityClass = ""
let invertClass = ""

if (lightOrDark!="both"){
    switch (lightOrDark) {
        case "light": visibilityClass = "light-only"; break;
        case "dark": visibilityClass = "dark-only"; break;
        case "invertLight": invertClass = "invert-light"; break;
        case "invertDark": invertClass = "invert-dark"; break;
    }
}
---
<div class={visibilityClass}>
    <img class={invertClass} src={src} data-fullscreenable/>
    <hr class="mb-1 -mt-5"/>
    <p><slot/></p>
</div>

<script>
    const images = document.querySelectorAll("[data-fullscreenable]");
    images.forEach(img => {
      img.addEventListener("click", () => img.requestFullscreen());
      console.log(img);
    });
</script>